<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Email Parameters-->
    <add key="Domain" value="test.it"/>    
    <!-- LDAP Parameters-->
    <add key="ServerLDAP" value="test"/>
    <add key="UserLDAP" value="Administrator"/>
    <add key="PasswordLDAP" value="test"/>

  </appSettings>
</configuration>